package pages

import "github.com/regcomp/gdpr/templates/components"

templ Login() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			@components.HeadContents("Login")
		</head>
		<body>
			<form action="/login" method="POST">
				<input type="hidden" name="action" value="button_clicked"/>
				<button
					type="submit"
					class="bg-purple-500 text-white px-4 py-2 rounded hover:bg-purple-600"
				>
					Submit Form
				</button>
			</form>
		</body>
	</html>
}
