package components

templ TestComponent() {
	<script>
		Alpine.data('boop', () => {
			return {
				chirp() {
					console.log('CACAW');
				}
			}
		});
	</script>
	<div id="content-inner">
		<div x-data="boop" x-init="chirp">
			component 2
		</div>
	</div>
}
