CONFIG_STORE_TYPE=LOCAL
DEFAULT_PORT=8080
AUTH_PROVIDER_TYPE=MOCK
SERVICE_URL=https://localhost
SESSION_DURATION=30
SERVICE_CACHE_TYPE=LOCAL
SECRET_STORE_TYPE=MOCK
RECORDS_DATABASE_TYPE=LOCAL
DATABASE_PROVIDER_NAMES=one,two,three
DATABASE_PROVIDER_TYPES=one:LOCAL;two:LOCAL;three:LOCAL
DATABASE_PROVIDER_TABLE_NAMES=one:users,transactions;two:users,transactions;three:users,transactions
